# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
TFS2TestRailXML/bin/Debug/Newtonsoft.Json.dll
TFS2TestRailXML/bin/Debug/System.Net.Http.Formatting.dll
TFS2TestRailXML/bin/Debug/System.Net.Http.Formatting.xml
TFS2TestRailXML/bin/Debug/System.Web.Http.dll
TFS2TestRailXML/bin/Debug/System.Web.Http.xml
TFS2TestRailXML/bin/Debug/TFS2TestRailXML.exe
TFS2TestRailXML/bin/Debug/TFS2TestRailXML.exe.config
TFS2TestRailXML/bin/Debug/TFS2TestRailXML.pdb
TFS2TestRailXML/bin/Debug/TFS2TestRailXML.vshost.exe
TFS2TestRailXML/bin/Debug/TFS2TestRailXML.vshost.exe.config
TFS2TestRailXML/bin/Debug/TFS2TestRailXML.vshost.exe.manifest
TFS2TestRailXML/bin/Release/Newtonsoft.Json.dll
TFS2TestRailXML/bin/Release/System.Net.Http.Formatting.dll
TFS2TestRailXML/bin/Release/System.Net.Http.Formatting.xml
TFS2TestRailXML/bin/Release/System.Web.Http.dll
TFS2TestRailXML/bin/Release/System.Web.Http.xml
TFS2TestRailXML/bin/Release/TFS2TestRailXML.exe
TFS2TestRailXML/bin/Release/TFS2TestRailXML.exe.config
TFS2TestRailXML/bin/Release/TFS2TestRailXML.pdb
TFS2TestRailXML/bin/Release/TFS2TestRailXML.vshost.exe
TFS2TestRailXML/bin/Release/TFS2TestRailXML.vshost.exe.config
TFS2TestRailXML/bin/Release/TFS2TestRailXML.vshost.exe.manifest
TFS2TestRailXML/obj/x86/Debug/App.g.cs
TFS2TestRailXML/obj/x86/Debug/App.g.i.cs
TFS2TestRailXML/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TFS2TestRailXML/obj/x86/Debug/MainWindow.baml
TFS2TestRailXML/obj/x86/Debug/MainWindow.g.cs
TFS2TestRailXML/obj/x86/Debug/MainWindow.g.i.cs
TFS2TestRailXML/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TFS2TestRailXML/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TFS2TestRailXML/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TFS2TestRailXML/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
TFS2TestRailXML/obj/x86/Debug/TFS2TestRailXML.csproj.FileListAbsolute.txt
TFS2TestRailXML/obj/x86/Debug/TFS2TestRailXML.csproj.GenerateResource.Cache
TFS2TestRailXML/obj/x86/Debug/TFS2TestRailXML.csprojResolveAssemblyReference.cache
TFS2TestRailXML/obj/x86/Debug/TFS2TestRailXML.exe
TFS2TestRailXML/obj/x86/Debug/TFS2TestRailXML.g.resources
TFS2TestRailXML/obj/x86/Debug/TFS2TestRailXML.pdb
TFS2TestRailXML/obj/x86/Debug/TFS2TestRailXML.Properties.Resources.resources
TFS2TestRailXML/obj/x86/Debug/TFS2TestRailXML_MarkupCompile.cache
TFS2TestRailXML/obj/x86/Debug/TFS2TestRailXML_MarkupCompile.i.cache
TFS2TestRailXML/obj/x86/Release/App.g.cs
TFS2TestRailXML/obj/x86/Release/App.g.i.cs
TFS2TestRailXML/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
TFS2TestRailXML/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
TFS2TestRailXML/obj/x86/Release/MainWindow.baml
TFS2TestRailXML/obj/x86/Release/MainWindow.g.cs
TFS2TestRailXML/obj/x86/Release/MainWindow.g.i.cs
TFS2TestRailXML/obj/x86/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TFS2TestRailXML/obj/x86/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TFS2TestRailXML/obj/x86/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TFS2TestRailXML/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
TFS2TestRailXML/obj/x86/Release/TFS2TestRailXML.csproj.FileListAbsolute.txt
TFS2TestRailXML/obj/x86/Release/TFS2TestRailXML.csproj.GenerateResource.Cache
TFS2TestRailXML/obj/x86/Release/TFS2TestRailXML.csprojResolveAssemblyReference.cache
TFS2TestRailXML/obj/x86/Release/TFS2TestRailXML.exe
TFS2TestRailXML/obj/x86/Release/TFS2TestRailXML.g.resources
TFS2TestRailXML/obj/x86/Release/TFS2TestRailXML_MarkupCompile.i.cache
TFS2TestRailXML/obj/x86/Release/TFS2TestRailXML.pdb
TFS2TestRailXML/obj/x86/Release/TFS2TestRailXML_MarkupCompile.cache
TFS2TestRailXML/obj/x86/Release/TFS2TestRailXML.Properties.Resources.resources
